<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Patient</title>
    <!-- For-Mobile-Apps-and-Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //For-Mobile-Apps-and-Meta-Tags -->
    <!-- Custom Theme files -->
    <link th:href="@{~/css_new/bootstrap.css}" type="text/css" rel="stylesheet" media="all">
    <link rel="stylesheet" type="text/css" th:href="@{~/css_new/style11.css}" /><!-- menu style sheet -->
    <link th:href="@{~/css_new/style.css}" type="text/css" rel="stylesheet" media="all">
    <!-- //Custom Theme files -->
    <!-- font-awesome icons -->
    <link th:href="@{~/css_new/font-awesome.css}" rel="stylesheet" type="text/css" media="all" />
    <!-- //font-awesome icons -->

    <!-- web-fonts -->
    <link href="http://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- //web-fonts -->
</head>
<body class="bg">
<div th:fragment="header" id="header">
<div class="overlay overlay-simplegenie">
    <button type="button" class="overlay-close"><i class="fa fa-times" aria-hidden="true"></i></button>
    <nav>
        <ul>
            <li><a href="../../doctors/list" th:href="@{/doctors/list}">Our Doctors</a></li>
            <li><a href="../../appointment/bookAvailDoctor" th:href="@{/appointment/bookAvailDoctor}">Book consultation</a></li>
            <li><a  href="../../consultationhistory/list" th:href="@{/consultationhistory/list}">Consultation history</a></li>
            
        </ul>
    </nav>
</div>

<section class="header-w3ls">
<button id="trigger-overlay" type="button"><i class="fa fa-bars" aria-hidden="true"></i></button>
     <div class="bottons-agileits-w3layouts">
       <span th:if="${session.usession !=null}">
       		<a th:text="${session.usession.user.username}"></a>
       </span>
       
        <span th:if="${session.usession !=null}">
        <a  href="../../login/exit" th:href="@{/login/exit}" class="page-scroll"  ><i class="fa fa-sign-in" aria-hidden="true"></i>Logout</a>
        </span>
        <span th:if="${session.usession ==null}">
        <a th:href="@{/register/add}" class="page-scroll" href="#myModal3" data-toggle="modal"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Register</a>
   		</span>
   		<span th:if="${session.usession !=null}">
        <a th:href="@{/login/changepwd}" class="page-scroll" href="#myModal5" data-toggle="modal"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Change Password</a>
        </span>
        <span th:if="${session.usession !=null}">
        <a th:href="@{/account/managePatient}" class="page-scroll" href="#myModal6" data-toggle="modal"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Manage Profile</a>
        </span>
        
   		</div>
    <h1><a>TeleMedicine</a></h1>
    <div class="clearfix"> </div>
</section>
</div>

<!--menu script-->


<script type='text/javascript' th:src="@{~/js_new/jquery-2.2.3.min.js}"></script>
<!-- //js -->
<script th:src="@{~/js_new/jquery.nicescroll.js}"></script>
<script th:src="@{~/js_new/scripts.js}"></script>



<!-- js -->
<script type='text/javascript' th:src="@{~/js_new/jquery-2.2.3.min.js}"></script>
<!-- //js -->
<script th:src="@{~/js_new/jquery.nicescroll.js}"></script>
<script th:src="@{~/js_new/scripts.js}"></script>

<!--responsiveslides js-->
<script th:src="@{~/js_new/responsiveslides.min.js}"></script>
<script>
    // You can also use "$(window).load(function() {"
    $(function () {
        // Slideshow 4
        $("#slider4").responsiveSlides({
            auto: true,
            pager:true,
            nav:false,
            speed: 500,
            namespace: "callbacks",
            before: function () {
                $('.events').append("<li>before event fired.</li>");
            },
            after: function () {
                $('.events').append("<li>after event fired.</li>");
            }
        });

    });
</script>
<script>
    // You can also use "$(window).load(function() {"
    $(function () {
        // Slideshow 3
        $("#slider3").responsiveSlides({
            auto: true,
            pager:false,
            nav: true,
            speed: 500,
            namespace: "callbacks",
            before: function () {
                $('.events').append("<li>before event fired.</li>");
            },
            after: function () {
                $('.events').append("<li>after event fired.</li>");
            }
        });

    });
</script>

<!--//responsiveslides js-->
<script th:src="@{~/js_new/SmoothScroll.min.js}"></script>
<!--menu script-->
<script type="text/javascript" th:src="@{~/js_new/modernizr-2.6.2.min.js}"></script>
<script th:src="@{~/js_new/classie.js}"></script>
<script th:src="@{~/js_new/demo1.js}"></script>
<!--//menu script-->
<!-- banner -->
<script type='text/javascript' th:src="@{~/js_new/jquery.easing.1.3.js}"></script>
<!-- //banner -->
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".scroll").click(function(event){
            event.preventDefault();
            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
    });
</script>
<!--js for bootstrap working-->
<script th:src="@{~/js_new/bootstrap.js}"></script>
<!-- //for bootstrap working -->
</body>
</html>