<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">

 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../bootstrap/bootstrap-4.0.0-dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../../bootstrap/bootstrap-4.0.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   

	<link rel="stylesheet" type="text/css" media="all" 	href="../../css/general.css" th:href="@{/css/general.css}" />


    <link rel="stylesheet" type="text/css" media="all" 	href="../../css/home.css" th:href="@{/css/home.css}" />
	
	<link th:href="@{/css_new/bootstrap.css}" type="text/css" rel="stylesheet" media="all">
    <link rel="stylesheet" type="text/css" th:href="@{/css_new/style11.css}" /><!-- menu style sheet -->
    <link th:href="@{/css_new/style.css}" type="text/css" rel="stylesheet" media="all">
    <link th:href="@{/css_new/font-awesome.css}" rel="stylesheet" type="text/css" media="all" />
    <link href="http://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    
<title>HOME</title>
</head>
<body id="allbody">

 <header th:insert="fragments/general.html :: header"> </header> 

      <!-- nav id="nav2" class="navbar  navbar-default navbar-expand-lg navbar-light bg-info">
      <div class="container-fluid">
    
    <div class="collapse navbar-collapse" id="homenavbar2">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       
        <li class="nav-item">
        <a class="nav-link" aria-current="page" href="../../main/about" th:href="@{/main/about}">About Us</a>
        </li>
        <li class="nav-item">
        <a class="nav-link " aria-current="page" href="../../main/courses" th:href="@{/main/courses}">Courses</a>
        </li>
        
                
      </ul>
      
    </div>
  </div>
</nav>

 -->
 
 <div class="form-row my-auto justify-content-center align-items-center">
                        <div class="col-lg-12 " id="error_msg">
                            <h1 th:text="${errmsg}" style="text-align:center"></h1>
                        </div>
                    </div>
                    
                    
                    
   
  <h1>Error ...... Please try again!!!</h1>
  
  
   <br />
	 <div th:replace="fragments/general.html :: footer"></div> 

    <!-- <!-- jQuery library -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

 
 -->

</body>
</html>