<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">

 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../bootstrap/bootstrap-4.0.0-dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../../bootstrap/bootstrap-4.0.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   

	<link rel="stylesheet" type="text/css" media="all" 	href="../../css/general.css" th:href="@{/css/general.css}" />


    <link rel="stylesheet" type="text/css" media="all" 	href="../../css/home.css" th:href="@{/css/home.css}" />
<link rel="stylesheet" type="text/css" media="all" 	href="../../css/manage.css" th:href="@{/css/manage.css}" />
	
	<link th:href="@{~/css_new/bootstrap.css}" type="text/css" rel="stylesheet" media="all">
    <link rel="stylesheet" type="text/css" th:href="@{~/css_new/style11.css}" /><!-- menu style sheet -->
    <link th:href="@{~/css_new/style.css}" type="text/css" rel="stylesheet" media="all">
    <!-- //Custom Theme files -->
    <!-- font-awesome icons -->
    <link th:href="@{~/css_new/font-awesome.css}" rel="stylesheet" type="text/css" media="all" />
    <!-- //font-awesome icons -->
	

</head>
<body id="allbody">
 <header th:insert="fragments/general.html :: header"> </header> 

      <nav id="nav2" class="navbar  navbar-default navbar-expand-lg navbar-light bg-info">
      <div class="container-fluid">
    
    <div class="collapse navbar-collapse" id="homenavbar2">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       
         <li class="nav-item">
        <a class="nav-link" aria-current="page" href="../../doctors/list" th:href="@{/doctors/list}" >Our Doctors</a>
        </li>
        <li class="nav-item">
        <a class="nav-link " aria-current="page" href="../../appointment/bookAvailDoctor" th:href="@{/appointment/bookAvailDoctor}">Book Consultation</a>
        </li>
        <li class="nav-item">
        <a class="nav-link " aria-current="page" href="../../consultationhistory/list" th:href="@{/consultationhistory/list}" >Consultation History</a>
        </li>
        
         
                
      </ul>
      
    </div>
  </div>
</nav>



<table class="table center">
  <thead class="thead-success">
    <tr>
      <th scope="col">Doctor Name</th>
      <th scope="col">Doctor Id</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  	<tr th:each="doctor:${doctors}"> 
        <td th:text="${doctor.firstName}">Doctor Name</td> 
        <td th:text="${doctor.doctorId}">Doctor ID</td>
        <td><a href="patient-book-consultation.html" th:href="@{/appointment/bookform/}+${doctor.doctorId}"> View Available Dates/Time </a></td>
      </tr> 
  
    
  </tbody>
</table>




<!-- <table class="center" > 
      <tr> 
        <th>Doctor Name</th> 
        <th>Doctor ID</th>
      </tr> 
 
 
      <tr th:each="doctor:${doctors}"> 
        <td th:text="${doctor.firstName}">Doctor Name</td> 
        <td th:text="${doctor.doctorId}">Doctor ID</td>
        <td><a href="patient-book-consultation.html" th:href="@{/appointment/bookform/}+${doctor.doctorId}"> View Available Dates/Time </a></td>
      </tr> 
 
    </table> -->
</body>
</html>