<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">

 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../bootstrap/bootstrap-4.0.0-dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../../bootstrap/bootstrap-4.0.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   

	<link rel="stylesheet" type="text/css" media="all" 	href="../../css/general.css" th:href="@{/css/general.css}" />
z

    <link rel="stylesheet" type="text/css" media="all" 	href="../../css/home.css" th:href="@{/css/home.css}" />


</head>
<body>
<table class="center" > 
      <tr> 
        <th>Doctor Name</th> 
        <th>Doctor ID</th>
      </tr> 
 
 
      <tr th:each="doctor:${doctors}"> 
        <td th:text="${doctor.firstName}">Doctor Name</td> 
         <td th:text="${doctor.doctorId}">Doctor ID</td>
         <td><a href="patient-book-consultation.html" 
  th:href="@{/appointment/bookform/}+${doctor.doctorId}"> View Available Dates/Time </a></td>
      </tr> 
 
    </table>
</body>
</html>